
.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .column {
    flex: 1;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
}
/* Style */

body {
  font-family: 'Lato', sans-serif;
}

.column {
  padding: 15px;
  border: 5px solid #000;
  margin: 5px 0;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
}

body{
  color: black;
}
a{
  color: yellow;
  font-size: 100px;
}
body, html {
  height: 100%;
}

body {
  color: yellow;
  /* The image used */
  background-image: url(https://grist.files.wordpress.com/2016/02/planetblue02213.jpg?w=1024&h=576&crop=1);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
